[Unit]
Description=Touch VT Emulator on %I
After=systemd-user-sessions.service
After=plymouth-quit-wait.service
After=getty-pre.target
After=rc-local.service
Before=getty.target
Conflicts=rescue.service
Before=rescue.service
Conflicts=getty@%i.service
OnFailure=getty@%i.service
IgnoreOnIsolate=yes
ConditionPathExists=/dev/tty0

[Service]
ExecStart=/usr/bin/touchvt --vt %I /sbin/agetty --noclear --autologin droidian - xterm-256color
Type=idle
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=getty.target
DefaultInstance=tty1
Alias=autovt@.service
